<template>
  <v-app id="inspire">
    <v-app-bar app flat>
      <v-container class="py-0 fill-height fluid">
<!--        <v-avatar class="mr-10" color="grey darken-1" size="32"></v-avatar>-->
        <v-img
            lazy-src="@/assets/jamu-logo.jpg"
            src="@/assets/jamu-logo.jpg"
            max-height="50"
            max-width="80"
        ></v-img>

        <v-spacer></v-spacer>
<!--        <v-responsive max-width="260">-->
<!--          <v-text-field dense flat hide-details rounded solo-inverted></v-text-field>-->
<!--        </v-responsive>-->
<!--        <v-btn v-for="link in links" :key="link" text>-->
<!--          {{ link }}-->
<!--        </v-btn>-->
        <v-btn @click="openBorrowMode()" text>
          Půjčovací režim
        </v-btn>
        <v-btn @click="openPersonDetail()" text>
          Detail
        </v-btn>
      </v-container>
      <v-card
        flat
      >
        <v-toolbar
          flat
          height="72"
        >
          <v-switch
            v-model="$vuetify.theme.dark"
            hint="💡/💡"

            label=""
            persistent-hint
          ></v-switch>
        </v-toolbar>
      </v-card>
    </v-app-bar>

    <v-main class="grey lighten-3">
      <v-container fluid>
        <v-row>
          <v-col cols="9">
            <v-card elevation="2"
                    min-height="70vh"
                    rounded="lg"
                    hover height="100%"
                    :class="`card-outter flex ${walkerState}`"
                    loader-height="8"
            >
              <div v-if="open=='personDetail'">
              <v-card-title>Detail osoby</v-card-title>
                <v-card-text
                class="personDetail">
                  <v-img
                    max-height="150"
                    max-width="150"
                    src="https://via.placeholder.com/150"
                  ></v-img>
                  <div class="content-wrapper">
                    <div class="text-wrapper">
                    <h2>Franta</h2>
                      <div>Fakulta: FI</div>
                      <div>Budova:</div>
                      <div>Upresneni:</div>
                    </div>

                    <div class="timestamp">
                      <h3>{{ today }}</h3>
                    </div>
                  </div>
                </v-card-text>
              </div>
              <div v-if="open=='borrowMode'">
                <v-card-title>Půjčovací režim</v-card-title>
              </div>
            </v-card>
          </v-col>
          <v-col>
            <v-card elevation="2"
                    loading
                    min-height="70vh"
                    rounded="lg"
                    hover height="100%"
                    class="card-outter flex visitors"
            >
              <v-card-title>Evidence průchozích</v-card-title>
              <v-list >
                <v-list-item>
                  <v-list-item-content
                    class="on"
                  >
                    <v-list-item-title>
                      <v-tooltip left>
                        <template v-slot:activator="{ on, attrs }">
                          <v-btn
                            v-bind="attrs"
                            v-on="on"
                            depressed
                            plain
                            @click="openPersonDetail('green lighten-4')"
                          >
                            Franta Jarda
                          </v-btn>
                        </template>
                        <span>{{ today }} <br/>STUDENT</span>
                      </v-tooltip>
                    </v-list-item-title>
                  </v-list-item-content>
                </v-list-item>
                <v-list-item>
                  <v-list-item-content
                    class="off"
                  >
                    <v-list-item-title>
                      <v-tooltip left>
                        <template v-slot:activator="{ on, attrs }">
                          <v-btn
                            v-bind="attrs"
                            v-on="on"
                            depressed
                            plain
                            @click="openPersonDetail('red lighten-4')"
                          >
                            Jaroslav Jarda
                          </v-btn>
                        </template>
                        <span>FAKULTA</span>
                      </v-tooltip>
                    </v-list-item-title>
                  </v-list-item-content>
                </v-list-item>
                <v-list-item>
                  <v-list-item-content
                    class="abroad"
                  >
                    <v-list-item-title>
                      <v-tooltip left>
                        <template v-slot:activator="{ on, attrs }">
                          <v-btn
                            v-bind="attrs"
                            v-on="on"
                            depressed
                            plain
                          >
                            Petr Pavel
                          </v-btn>
                        </template>
                        <span>ZAMESTNANEC</span>
                      </v-tooltip>
                    </v-list-item-title>
                  </v-list-item-content>
                </v-list-item>
                <v-list-item>
                  <v-list-item-content
                    class="covid"
                  >
                    <v-list-item-title>
                      <v-tooltip left>
                        <template v-slot:activator="{ on, attrs }">
                          <v-btn
                            v-bind="attrs"
                            v-on="on"
                            depressed
                            plain
                          >
                            Jana Janu
                          </v-btn>
                        </template>
                        <span>STUDENT</span>
                      </v-tooltip>
                    </v-list-item-title>
                  </v-list-item-content>
                </v-list-item>
                <v-list-item>
                  <v-list-item-content
                    class="invalid_card"
                  >
                    <v-list-item-title>
                      <v-tooltip left>
                        <template v-slot:activator="{ on, attrs }">
                          <v-btn
                            v-bind="attrs"
                            v-on="on"
                            depressed
                            plain
                          >
                            Karla Petra
                          </v-btn>
                        </template>
                        <span>STUDENT</span>
                      </v-tooltip>
                    </v-list-item-title>
                  </v-list-item-content>
                </v-list-item>
                <v-list-item>
                  <v-list-item-content
                    class="invalid_card"
                  >
                    <v-list-item-title>
                      <v-tooltip left>
                        <template v-slot:activator="{ on, attrs }">
                          <v-btn
                            v-bind="attrs"
                            v-on="on"
                            depressed
                            plain
                          >
                            Karla Petra
                          </v-btn>
                        </template>
                        <span>STUDENT</span>
                      </v-tooltip>
                    </v-list-item-title>
                  </v-list-item-content>
                </v-list-item>
                <v-list-item>
                  <v-list-item-content
                    class="invalid_card"
                  >
                    <v-list-item-title>
                      <v-tooltip left>
                        <template v-slot:activator="{ on, attrs }">
                          <v-btn
                            v-bind="attrs"
                            v-on="on"
                            depressed
                            plain
                          >
                            Karla Petra
                          </v-btn>
                        </template>
                        <span>STUDENT</span>
                      </v-tooltip>
                    </v-list-item-title>
                  </v-list-item-content>
                </v-list-item>
                <v-list-item>
                  <v-list-item-content
                    class="invalid_card"
                  >
                    <v-list-item-title>
                      <v-tooltip left>
                        <template v-slot:activator="{ on, attrs }">
                          <v-btn
                            v-bind="attrs"
                            v-on="on"
                            depressed
                            plain
                          >
                            Karla Petra
                          </v-btn>
                        </template>
                        <span>STUDENT</span>
                      </v-tooltip>
                    </v-list-item-title>
                  </v-list-item-content>
                </v-list-item>
                <v-list-item>
                  <v-list-item-content
                    class="invalid_card"
                  >
                    <v-list-item-title>
                      <v-tooltip left>
                        <template v-slot:activator="{ on, attrs }">
                          <v-btn
                            v-bind="attrs"
                            v-on="on"
                            depressed
                            plain
                          >
                            Karla Petra
                          </v-btn>
                        </template>
                        <span>STUDENT</span>
                      </v-tooltip>
                    </v-list-item-title>
                  </v-list-item-content>
                </v-list-item>
                <v-list-item>
                  <v-list-item-content
                    class="invalid_card"
                  >
                    <v-list-item-title>
                      <v-tooltip left>
                        <template v-slot:activator="{ on, attrs }">
                          <v-btn
                            v-bind="attrs"
                            v-on="on"
                            depressed
                            plain
                          >
                            Karla Petra
                          </v-btn>
                        </template>
                        <span>STUDENT</span>
                      </v-tooltip>
                    </v-list-item-title>
                  </v-list-item-content>
                </v-list-item>
                <v-list-item>
                  <v-list-item-content
                    class="invalid_card"
                  >
                    <v-list-item-title>
                      <v-tooltip left>
                        <template v-slot:activator="{ on, attrs }">
                          <v-btn
                            v-bind="attrs"
                            v-on="on"
                            depressed
                            plain
                          >
                            Karla Petra
                          </v-btn>
                        </template>
                        <span>STUDENT</span>
                      </v-tooltip>
                    </v-list-item-title>
                  </v-list-item-content>
                </v-list-item>
                <v-list-item>
                  <v-list-item-content
                    class="invalid_card"
                  >
                    <v-list-item-title>
                      <v-tooltip left>
                        <template v-slot:activator="{ on, attrs }">
                          <v-btn
                            v-bind="attrs"
                            v-on="on"
                            depressed
                            plain
                          >
                            Karla Petra
                          </v-btn>
                        </template>
                        <span>STUDENT</span>
                      </v-tooltip>
                    </v-list-item-title>
                  </v-list-item-content>
                </v-list-item>
                <v-list-item>
                  <v-list-item-content
                    class="invalid_card"
                  >
                    <v-list-item-title>
                      <v-tooltip left>
                        <template v-slot:activator="{ on, attrs }">
                          <v-btn
                            v-bind="attrs"
                            v-on="on"
                            depressed
                            plain
                          >
                            Karla Petra
                          </v-btn>
                        </template>
                        <span>STUDENT</span>
                      </v-tooltip>
                    </v-list-item-title>
                  </v-list-item-content>
                </v-list-item>
                <v-list-item>
                  <v-list-item-content
                    class="invalid_card"
                  >
                    <v-list-item-title>
                      <v-tooltip left>
                        <template v-slot:activator="{ on, attrs }">
                          <v-btn
                            v-bind="attrs"
                            v-on="on"
                            depressed
                            plain
                          >
                            Karla Petra
                          </v-btn>
                        </template>
                        <span>STUDENT</span>
                      </v-tooltip>
                    </v-list-item-title>
                  </v-list-item-content>
                </v-list-item>

              </v-list>
            </v-card>
          </v-col>

        </v-row>
      </v-container>
      <v-container fluid>
        <v-row class="nooverflow"
        height="25vh"
        min-height="25vh">
          <v-container fluid>
            <v-row>
              <v-col cols="12">
                <v-sheet min-height="23vh" rounded="lg" class="pr-3 pl-3 pt-2 pb-2">
                  <v-card elevation="2"
                          loading
                          min-height="25vh"
                          rounded="lg"
                          hover
                          class="card-outter flex"
                  >
                    <v-card-title>Historie dne / vypůjčené karty</v-card-title>
                  <v-list
                    class="day_history"
                    >
                    <v-list-item>
                      <v-list-item-content
                        class=""
                      >
                        <v-list-item-title>
                          <v-tooltip top>
                            <template v-slot:activator="{ on, attrs }">
                              <v-btn
                                v-bind="attrs"
                                v-on="on"
                                depressed
                                plain
                              >
                                13:23 Franta Jarda - Mistnost 405
                              </v-btn>
                            </template>
                            <span>STUDENT</span>
                          </v-tooltip>
                        </v-list-item-title>
                      </v-list-item-content>
                    </v-list-item>
                    <v-list-item>
                      <v-list-item-content
                        class=""
                      >
                        <v-list-item-title>
                          <v-tooltip top>
                            <template v-slot:activator="{ on, attrs }">
                              <v-btn
                                v-bind="attrs"
                                v-on="on"
                                depressed
                                plain
                              >
                                13:28 Jaroslav Jarda  mistnost 404
                              </v-btn>
                            </template>
                            <span>FAKULTA</span>
                          </v-tooltip>
                        </v-list-item-title>
                      </v-list-item-content>
                    </v-list-item>
                    <v-list-item>
                      <v-list-item-content
                      >
                        <v-list-item-title>
                          <v-tooltip top>
                            <template v-slot:activator="{ on, attrs }">
                              <v-btn
                                v-bind="attrs"
                                v-on="on"
                                depressed
                                plain
                              >
                                13:29 Jaroslav Jarda  mistnost 404
                              </v-btn>
                            </template>
                            <span>FAKULTA</span>
                          </v-tooltip>
                        </v-list-item-title>
                      </v-list-item-content>
                    </v-list-item>
                    <v-list-item>
                      <v-list-item-content
                        class=""
                      >
                        <v-list-item-title>
                          <v-tooltip top>
                            <template v-slot:activator="{ on, attrs }">
                              <v-btn
                                v-bind="attrs"
                                v-on="on"
                                depressed
                                plain
                              >
                                13:30 Jaroslav Jarda  mistnost 404
                              </v-btn>
                            </template>
                            <span>FAKULTA</span>
                          </v-tooltip>
                        </v-list-item-title>
                      </v-list-item-content>
                    </v-list-item>
                    <v-list-item>
                      <v-list-item-content
                        class=""
                      >
                        <v-list-item-title>
                          <v-tooltip top>
                            <template v-slot:activator="{ on, attrs }">
                              <v-btn
                                v-bind="attrs"
                                v-on="on"
                                depressed
                                plain
                              >
                                13:31 Jaroslav Jarda  mistnost 404
                              </v-btn>
                            </template>
                            <span>FAKULTA</span>
                          </v-tooltip>
                        </v-list-item-title>
                      </v-list-item-content>
                    </v-list-item>
                    <v-list-item>
                      <v-list-item-content
                        class=""
                      >
                        <v-list-item-title>
                          <v-tooltip top>
                            <template v-slot:activator="{ on, attrs }">
                              <v-btn
                                v-bind="attrs"
                                v-on="on"
                                depressed
                                plain
                              >
                                13:32 Jaroslav Jarda  mistnost 404
                              </v-btn>
                            </template>
                            <span>FAKULTA</span>
                          </v-tooltip>
                        </v-list-item-title>
                      </v-list-item-content>
                    </v-list-item>

                    <v-list-item>
                      <v-list-item-content
                        class="invalid_card"
                      >
                        <v-list-item-title>
                          <v-tooltip top>
                            <template v-slot:activator="{ on, attrs }">
                              <v-btn
                                v-bind="attrs"
                                v-on="on"
                                depressed
                                plain
                              >
                                vcera 13:35 Petr Pavel - mistnost 403
                              </v-btn>
                            </template>
                            <span>vice nez 24</span>
                          </v-tooltip>
                        </v-list-item-title>
                      </v-list-item-content>
                    </v-list-item>
                  </v-list>
                  </v-card>
                </v-sheet>
              </v-col>
            </v-row>
          </v-container>
        </v-row>
      </v-container>
    </v-main>
  </v-app>
</template>
<style>
  .card-outter {
    position: relative;
    padding-bottom: 50px;
  }
  .card-actions {
    position: absolute;
    bottom: 0;
  }
</style>
<script>
import moment from 'moment'

export default {
  data: () => ({
    links: [
      'Evidence návštěv',
      'Docházkový režim',
      'Půjčovací režim'
    ],
    open: 'main',
    walkerState: '',
    today: moment(new Date()).format('MM/DD/YYYY hh:mm')
  }),
  methods: {
    openPersonDetail (walkerState) {
      this.open = 'personDetail'
      this.walkerState = walkerState
    },
    openBorrowMode (walkerState) {
      this.open = 'borrowMode'
      this.walkerState = walkerState
    }
  }
}
</script>
<style>
.test{
border: 2px solid;
padding: 20px;
/*width: 300px;*/
resize: both;
}
.visitors .v-list-item__content {
  padding: 12px;
}
.off {
  background-color: #FFAEBC;
}
.on {
  background-color: #B4F8C8;
}
.abroad {
  background-color: #FBE7C6;
}
.covid {
  background-color: #52bbff;
}
.invalid_card{
  background-color: #F13455;
}

.day_history {
  overflow: scroll;
}
.day_history .v-list-item {
  padding: 0px 20px;
}
.day_history .v-list-item__content {
  padding: 0;
}
.nooverflow . {
  overflow: scroll;
}

.personDetail {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.personDetail img {
  flex: 1;
  width: 150px;
}
.personDetail .content-wrapper {
  display: flex;
  justify-content: space-between;
  flex: 1 0 80%;
}
.personDetail .text-wrapper {
  padding: 0 32px;
}
.personDetail .text-wrapper h2 {
  padding-bottom: 16px;
}
.red .personDetail h3 {
  color: #B71C1C;
}
.green .personDetail h3 {
  color: #1B5E20;
}

</style>
<!--<v-card-actions class="card-actions justify-space-between d-flex "-->
<!--                :color="$vuetify.theme.dark ? 'grey darken-3' : 'grey lighten-4'"-->
<!--                flat-->
<!--                tile>-->
<!--<v-btn to="/login-page">Evidence návštěv</v-btn>-->
<!--<v-spacer></v-spacer>-->
<!--<v-btn>Docházkový režimaa</v-btn>-->
<!--<v-spacer></v-spacer>-->
<!--<v-btn>Půjčovací režim</v-btn>-->
<!--<v-spacer></v-spacer>-->
<!--<v-btn>Admin</v-btn>-->
<!--</v-card-actions>-->
