<template>
  <v-card flat dark height="100%">
    <v-container fluid>
      <div class="home">
        <ul>
          <li><router-link to="/login-page">Přihlašovací stránka</router-link></li>
          <li><router-link to="/borrow-mode">Hlavní obrazovka</router-link></li>
          <li><router-link to="/side-navigation">Side navigation template</router-link></li>
          <li><router-link to="/test">Test</router-link></li>
        </ul>
      </div>
    </v-container>
  </v-card>
</template>

<script>
// @ is an alias to /src
// import HelloWorld from '@/components/HelloWorld.vue'

export default {
  name: 'Home JAMU',
  components: {
    // HelloWorld
  }
}
</script>
