<template>
  <v-container fill-height flat>
  <v-form
    ref="form"
    v-model="valid"
    lazy-validation
  >
    <v-text-field
      v-model="email"
      :rules="emailRules"
      label="E-mail"
      required
    ></v-text-field>
    <v-text-field
      v-model="password"
      :append-icon="mdi-eye"

      :type="password"
      name="input-10-1"
      label="Password"
      hint="At least 8 characters"
      ></v-text-field>
    <v-row>
      <v-checkbox
        v-model="checkbox"
        label="Label"
      ></v-checkbox>
    </v-row>
    <v-btn
      :disabled="!valid"
      color="success"
      class="mr-4"
      @click="validate"
    >Login</v-btn>
    <v-btn
      color="error"
      class="mr-4"
      @click="reset"
    >
      Reset
    </v-btn>

  </v-form>

  </v-container>
</template>
