<template>
  <v-app id="inspire">
    <v-app-bar app flat>
      <v-container class="py-0 fill-height fluid">
        <v-img
          lazy-src="@/assets/jamu-logo.jpg"
          src="@/assets/jamu-logo.jpg"
          max-height="50"
          max-width="80"
        ></v-img>

        <v-spacer></v-spacer>
        <v-btn @click="openBorrowMode()" text>
          Půjčovací režim
        </v-btn>
        <v-btn @click="openPersonDetail()" text>
          Detail
        </v-btn>
      </v-container>
      <v-card
        flat
      >
        <v-toolbar
          flat
          height="72"
        >
          <v-switch
            v-model="$vuetify.theme.dark"
            hint="💡/💡"

            label=""
            persistent-hint
          ></v-switch>
        </v-toolbar>
      </v-card>
    </v-app-bar>
    <multipane class="horizontal-panes" layout="horizontal">
      <div class="pane" :style="{ width: '100%', maxWidth: '100%'}">
        <multipane class="vertical-panes" layout="vertical">
          <div class="pane height100" :style="{ width: '75%', maxWidth: '75%' }">
            <v-card elevation="2"
                    rounded="lg"
                    height="100%"
                    :class="`card-outter flex ${walkerState}`"
                    loader-height="8"
            >
              <div class="height100" style="background-color: yellow;">
                <v-card-title>Půjčovací režim / detail header</v-card-title>
                <v-card-text style="height: 800px;">
                  Content
                </v-card-text>
              </div>
            </v-card>
          </div>
          <multipane-resizer></multipane-resizer>
          <div class="pane" :style="{ flexGrow: 1 }">
            <v-card class="height100">
              <div style="background-color: red; min-height: 100%; overflow: scroll;">
                <v-card-title>
                  Evidence navstev
                </v-card-title>
                <v-card-text>
                  <v-list>
                    <v-list-item>
                      Pane content data here
                    </v-list-item>
                    <v-list-item>
                      Pane content data here
                    </v-list-item>
                    <v-list-item>
                      Pane content data here
                    </v-list-item>
                    <v-list-item>
                      Pane content data here
                    </v-list-item>
                    <v-list-item>
                      Pane content data here
                    </v-list-item>
                    <v-list-item>
                      Pane content data here
                    </v-list-item>
                    <v-list-item>
                      Pane content data here
                    </v-list-item>
                    <v-list-item>
                      Pane content data here
                    </v-list-item>
                    <v-list-item>
                      Pane content data here
                    </v-list-item>
                  </v-list>

                </v-card-text>
              </div>
            </v-card>
          </div>
        </multipane>
      </div>
      <multipane-resizer></multipane-resizer>
        <div class="pane" :style="{ flexGrow: 1 }">
            <v-card class="height100">
              <div style="background-color: orange; min-height: 100%; overflow: scroll;">
              <v-card-title>
                Bottom pane header
              </v-card-title>
                <v-card-text>
                  <v-list>
                    <v-list-item>
                      Pane content data here
                    </v-list-item>
                  </v-list>
                </v-card-text>
              </div>
            </v-card>
      </div>
    </multipane>
  </v-app>
</template>

<script>
import { Multipane, MultipaneResizer } from 'vue-multipane'
import moment from 'moment'

export default {
  components: {
    Multipane,
    MultipaneResizer
  },
  data: () => ({
    links: [
      'Evidence návštěv',
      'Docházkový režim',
      'Půjčovací režim'
    ],
    open: 'main',
    walkerState: '',
    today: moment(new Date()).format('MM/DD/YYYY hh:mm')
  }),
  methods: {
    openPersonDetail (walkerState) {
      this.open = 'personDetail'
      this.walkerState = walkerState
    },
    openBorrowMode (walkerState) {
      this.open = 'borrowMode'
      this.walkerState = walkerState
    }
  }
}
</script>

<style>
.height100 {
  height: 100% !important;
  overflow: scroll;
}
#inspire {
  height: 100%;
}
.vertical-panes {
  margin-top: 64px;
  width: 100%;
  height: 100%;
  border: 1px solid #ccc;
}
.vertical-panes > .pane {
  text-align: left;
  padding: 0;
  overflow: hidden;
}
.vertical-panes > .pane ~ .pane {
  border-left: 1px solid #ccc;
}

.horizontal-panes {
  width: 100vw;
  height: 100vh;
  border: 1px solid #ccc;
}
.horizontal-panes > .multipane-resizer {
  height: 15px;
  background-color: rebeccapurple;
}
.horizontal-panes > .pane {
  text-align: left;
  padding: 0;
  overflow: hidden;
}
.horizontal-panes > .pane ~ .pane {
  border-top: 1px solid #ccc;
}

.pane {
  overflow-y: scroll;
}

/* Designing for scroll-bar */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: gainsboro;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
</style>
